html {
   font-family: 'Inter', sans-serif;
}

.box {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 200px;
    height: 200px;
    border: 40px solid #F97316;
}

.header {
    text-align: center;
}

.arena {
    display: flex;
    border: 1px dotted olive;
    height: 80vh;
}
